@import "./variables";

.stocks-section {
  border-right: 1px solid $light-gray;
}

.stocks-item {
  border-bottom: 1px solid $divider;

  &:hover {
    background: $dark-gray;
  }
}

.finance-tab {
  border-bottom: 1px solid $divider;
}

.finance-tab-item {
  border-right: 1px solid $divider;

  &:hover {
    color: $white;
  }
}
