@import "./variables";

.news-section {
  border-right: 1px solid $light-gray;
}

.news-item {
  border-bottom: 1px solid $divider;

  &:hover {
    background: $dark-gray;
  }
}

.category-tab {
  border-bottom: 1px solid $divider;
}

.category-tab-item {
  border-right: 1px solid $divider;

  &:hover {
    color: $white;
  }
}
